{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!DOCTYPE html>
    <html>
      <head>
        <title>Playlist Mixer</title>
        <meta name="description" content="A cool thing made with Glitch">
        <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
      </head>
      <body>
        <header>
          <h1>Playlist Mixer</h1>
          <p>We mix playlists here</p>
        </header>
    
        <main>
         <!-- <h4>Log in to check out a track</h4> -->
         <!-- <a id="login" href="" class="btn btn-sm btn-primary">Log In With Spotify</a> -->
        </main>
        <script src="/index.js"></script>
      </body>
    </html>
    {% endblock %}